@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 0;
}

nav ul li {
  padding: 5px;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.brand img {
  width: 40px;
  height: auto;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.5rem;
}

.container {
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
  padding: 20px;
  border-radius: 12px;
  background-image: url("bg1.jpg");
  background-size: cover;
  background-position: center;
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 90px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 10px;
}

.icons i {
  font-size: 1.5rem;
  cursor: pointer;
}

#myProgressBar {
  width: 95%;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 20px;
}

.songItem {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  padding: 10px;
}

.songItem img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.timestamp {
  margin-top: 10px;
  text-align: center;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: space-around;
    height: 65px;
  }

  nav ul li {
    padding: 0 20px;
  }

  .brand img {
    width: 44px;
  }

  .container {
    flex-direction: row;
    width: 80%;
    padding: 34px;
  }

  .songItem {
    flex-direction: row;
    padding: 15px;
    height: 50px;
  }

  .songItem img {
    width: 43px;
    margin: 0 23px;
  }

  .timestamp {
    margin: 0 23px;
  }

  .bottom {
    height: 100px;
  }

  #myProgressBar {
    width: 80vw;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    width: 70%;
    margin: 20px auto;
    padding: 40px;
  }

  nav ul {
    justify-content: space-between;
  }

  .brand {
    font-size: 1.7rem;
  }

  .songItem {
    height: 55px;
  }

  .songItem img {
    width: 45px;
  }

  .timestamp {
    margin: 0 25px;
  }

  .bottom {
    height: 130px;
  }

  #myProgressBar {
    width: 70vw;
  }
}
